apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-container
        image: flask-hello:1.0
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 5600
        env:
          - name: ENV
            valueFrom:
              configMapKeyRef:
                name: flask-config
                key: ENV
          - name: API_KEY
            valueFrom:
              secretKeyRef:
                name: flask-secret
                key: API_KEY
